.header{
    text-align: center;
    margin-top: 10px;
}

.sign-out{
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 15px;
    background-color: orange;

}
.header img{
    height: 80px;
}

nav{
    background: black;
    padding: 15px;
}
nav a{
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    padding: 15px;
}
nav a:hover{
    background: gray;
}